
h1{
    color:#00ffff;
}
p{
    color:#ff0000;
    font-style: oblique;
    text-align: center;
}
*{
    border:solid;
}

.header{
    background-color: #91c130;
    display:flex;
    justify-content: space-between;
}
  
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display:flex;
    justify-content: flex-end;
}

h2{
    text-align: center;
}

body{
    background-color:#000000 ;
}

